<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Where I go??</h1>
          <form class="form-inline" name="giveMeBarsForm" ng-submit="giveMeBarsForm.$valid && searchBars()" novalidate>
        <input type="text" ng-model="giveMeBarsForm.location" class="form-control" placeholder="Write a location" required>
        <button type="submit" class="btn btn-default" ng-disabled="giveMeBarsForm.$invalid || isProcessing">Search</button>
        <i ng-show="isProcessing" class="glyphicon glyphicon-repeat gly-spin"></i>
      </form>

  </div>
</header>
<div class="container bars-container">
  <div class="row grid" ng-show="bars" >
    <div class="col-sm-6 col-md-4 grid-item" ng-repeat="bar in bars.businesses" id="{{ bar.id }}" on-last-repeat>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{ bar.name }} <span class="pull-right"><img ng-src="{{ bar.rating_img_url }}" alt="rating img" /></span></h2>
        </div>
        <div class="panel-body">
          <img ng-src="{{ bar.image_url }}" alt="bar img" class="img-thumbnail" />
          <button id="btn{{bar.id}}" class="btn btn-default btn-lg pull-right" ng-click="addOrRemovePersonToBar(bar, $event)" ng-disabled="!isLoggedIn() || isProcessing">
            {{ bar.usersIn.length ? bar.usersIn.length : 0 }} going 
            <span ng-hide="isCurrentUserInThisBar(bar.usersIn)" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span ng-show="isCurrentUserInThisBar(bar.usersIn)" class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button> 
          <blockquote class="blockquote-reverse"z>
            <img  ng-src="{{ bar.snippet_image_url }}" alt="snippet img" class="pull-left img-circle"/>
            <p>{{ bar.snippet_text }}
            <a href="{{ bar.url }}">See {{ bar.review_count }} more opinions</a></p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>




<footer></footer>
